.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 108px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
  140deg,
  rgb(215, 230, 249) 0%,
  rgba(255, 255, 255, 1) 50%,
  rgb(215, 230, 249) 80%
);;
  filter: blur(100px);
}
